<div class="boton">
    <span class="span1" matTooltip="Listado"><button mat-raised-button routerLink="/servicios"><mat-icon>keyboard_backspace</mat-icon> Volver</button></span>
    <div class="separador"></div>

</div>

<div class="ctn">

    <!--  <mat-card class="card">!-->
    <h3 class="title">
        Nuevo Servicio
    </h3>
    <!--  <selec>!-->
    <div class="select">
        <mat-form-field class="valor inputs">
            <mat-select placeholder="Seleccione el tipo servicio ">
                <mat-option *ngFor="let filtro of filtro" [value]="filtro.value">
                    {{ filtro.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!--  <texto>!-->

    <mat-form-field class="example-full-width inputs">
        <textarea matInput placeholder="Nombre del servicio" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">Maquillaje de contorno </textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="descripcion del servicio" value="para la iluminacion del rostro">
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="garantia del servicio" value="tres dias ">
    </mat-form-field>

    <!--  <mat-card class="card">!-->
    <mat-card>
        <h3 class="title">
            Nuevo Servicio
        </h3>
        <!--  <selec>!-->
        <div class="select">
            <mat-form-field class="valor inputs">
                <mat-select placeholder="Seleccione La categoria del Servicio ">
                    <mat-option *ngFor="let filtro of filtro" [value]="filtro.value" (click)="cargarTipoServisios(filtro.value)">
                        {{ filtro.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!--
        <div class="select">
            <mat-form-field class="valor inputs">
                <mat-select placeholder="Seleccione El Tipo de Servicio ">
                    <mat-option *ngFor="let filtro of listaParametro " [value]="filtro.nombre">
                        {{ filtro.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    -->
        <!--  <texto>!-->

        <mat-form-field class="example-full-width inputs">
            <textarea matInput placeholder="Nombre del servicio" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">Maquillaje de contorno </textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width inputs">
            <input matInput placeholder="descripcion del servicio" value="para la iluminacion del rostro">
        </mat-form-field>
        <mat-form-field class="example-full-width inputs">
            <input matInput placeholder="garantia del servicio" value="tres dias ">
        </mat-form-field>


        <mat-form-field class="valor inputs">
            <mat-select placeholder="Insumos utilizados" [(ngModel)]="insumoSeleccionados" multiple>
                <mat-select-trigger>
                    {{insumoSeleccionados ? insumoSeleccionados[0] : ''}}
                    <span *ngIf="insumoSeleccionados.length > 1">
                          (+{{insumoSeleccionados.length - 1}} otros)
                      </span>
                </mat-select-trigger>
                <mat-option color="accent" *ngFor="let ins of insumo" [value]="ins">{{ins}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="demo-chip-list inputs">
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let insumo of insumos" [selectable]="selectable" [removable]="removable">
                    {{insumo.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <mat-chip *ngFor="let ins of insumoSeleccionados" [selectable]="selectable" [removable]="removable">
                    {{ins}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Insumos" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
            </mat-chip-list>
        </mat-form-field>
    </mat-card>
    <!--</mat-card>!-->
    <!--  <boton>!-->
    <!--  <botonde imagen>!-->
    <div class="btn-fin">
        <div class="div-btn">
            <input id="fileInput2" style="display: none;" type='file'>
            <button mat-raised-button (click)="$event.currentTarget.previousElementSibling.click()" style="background-color: ghostwhite; color: grey;">
                         <mat-icon>backup</mat-icon>Subir imagen</button><br>
        </div>
    </div>
    <div class="btn-fin">

        <div style="padding-top: 5px; width:95%; display:flex; justify-content: flex-end;">
            <mat-action-row>
                <button mat-raised-button color="accent" (click)="nextStep()">Siguiente</button>
            </mat-action-row>
        </div>

    </div>

</div>