<div class="ctn">
    <mat-tab-group>
        <mat-tab label="Clientes">
            <app-reporte-clientes></app-reporte-clientes>
        </mat-tab>
        <mat-tab label="Solicitudes">
            <app-reporte-solicitudes></app-reporte-solicitudes>
        </mat-tab>
        <mat-tab label="Servicios">
            <app-reporte-servicio></app-reporte-servicio>
        </mat-tab>
        <mat-tab label="Atención al cliente">
            <app-reporte-comentarios></app-reporte-comentarios>
        </mat-tab>
    </mat-tab-group>
</div>