<div class="heading-panel">
    <!--Controla el contenido que se despliega en cada tab-->
    <mat-tab-group #grupoTabs (click)="verificarTab(grupoTabs)" (keydown)="verificarTab(grupoTabs)">
        <mat-tab label="Principal">
            <!--++++++-->
            <div>
                <app-cliente-principal></app-cliente-principal>
            </div>
            <!--++++++-->
        </mat-tab>

        <mat-tab label="Perfil">
            <!--++++++-->
            <!--Si se selecciona este tab, se muestra el perfil, a traves de la variable de control "verTabPerfil"-->
            <div *ngIf="verTabPerfil">
                <app-cliente-perfil></app-cliente-perfil>
            </div>
            <!--++++++-->
        </mat-tab>
    </mat-tab-group>

    <!--Posiciona los botones a la parte superior derecha de la pantalla-->
    <div class="button-row">
        <button mat-raised-button>
  <mat-icon>save</mat-icon> Guardar
</button>
        <button mat-raised-button>
  <mat-icon>visibility</mat-icon> Previsualizar
</button>
    </div>
</div>