.content {
    display: flex;
    flex-direction: column;
    .boton {
        margin-top: 25px;
        margin-left: 70px;
    }
    .btna {
        margin-top: -30px;
        //  margin-left: 700px;
    }
    .ctn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        h4 {
            font-size: 16px;
            font-weight: bold;
            color: #344563;
            line-height: 19px;
        }
        .registro {
            margin-left: 70px;
            margin-right: 30px;
            .detalle {
                margin-top: 25px;
                width: 500px;
                height: 100%;
                .inputs {
                    margin: 5px 0px;
                    width: 450px;
                }
                input:disabled {
                    color: black;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            .incidencias {
                .lista-incidencia {
                    width: 270px;
                    margin-top: 25px;
                    .content {
                        color: #A5ADBA;
                    }
                }
                .btn {
                    color: #FD0087;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 19px;
                    margin-top: 15px;
                }
            }
            .insumos {
                margin-top: 20px;
                h4 {
                    font-size: 16px;
                    font-weight: bold;
                    color: #344563;
                    line-height: 19px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .add {
        .title {
            margin-bottom: 10px;
        }
        mat-divider {
            margin-bottom: 10px;
        }
        h5 {
            margin-top: 5px;
        }
        h6 {
            color: #A5ADBA;
            font-size: 14px;
            font-weight: 300;
        }
        .insumos {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            h4 {
                font-size: 16px;
            }
            .left {
                width: 50%;
            }
            .right {
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                .input {
                    width: 50%;
                    margin-top: -30px;
                    align-self: flex-end;
                    margin-left: 60px;
                    .nn {
                        width: 30px;
                    }
                }
            }
        }
        .btn {
            color: #FD0087;
            font-size: 14px;
            font-weight: bold;
            line-height: 19px;
            margin-top: 15px;
        }
    }
}