/*boton, buscar y el selec*/

.tabla {
    position: relative;
    margin-left: 50px;
    margin-top: 261px;
    height: 4000px;
    width: 430px;
    left: 430px;
    bottom: 610px;
}

.Titulo {
    height: 21px;
    width: 490px;
    color: #6C798F;
    font-family: Roboto;
    font-size: 19px;
    font-weight: bold;
    line-height: 34px;
    position: relative;
    left: 62px;
    top: 30px;
}

.configurarDes {
    height: 350px;
    width: 400px;
    color: #6C798F;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin-top: 50px;
    right: 300px;
    left: 50px;
}

.boton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    left: 0px;
    .btn2 {
        margin-left: 60px;
    }
    .letra {
        color: #6C798F;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
    }
    .ctn {
        .search {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .input-search {
                width: 70%;
            }
            margin-top: 30px;
        }
        .carta {
            width: 350px; //ancho
            height: 250px; //altura
            margin-left: 30px; //margen Dereche
            .fila1 {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-items: center;
                justify-content: center;
                .nombre {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0;
                    width: 50%;
                    margin-left: -20px;
                    h5 {
                        color: rgb(67, 71, 77);
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .btna {
        margin-top: 400px;
    }
}