<div style="padding: 30px 30px 30px 60px; max-width: 800px;">
    <h4 style="opacity: 0.5;">Configura la información a mostrar de tu negocio</h4>
    <br>
    <mat-card style="padding: 50px 120px;">
        <form class="clase1">
            <!--Posiciona los botones a la parte superior derecha de la pantalla-->
            <div style="text-align: right;">
                <button mat-raised-button (click)="putContactTitle()">
                    <mat-icon>save</mat-icon> Guardar
                </button>
            </div>
            <mat-form-field>
                <input #titulo matInput placeholder="Título de la sección" maxlength="500" [(ngModel)]="tituloC" [ngModelOptions]="{standalone: true}">
                <mat-hint align="end">{{titulo.value.length}} / 500</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field>
                <textarea #subtitulo style="resize: none;" maxlength="1100" matInput placeholder="Subtítulo de la sección" [(ngModel)]="descripcion"
                    [ngModelOptions]="{standalone: true}"></textarea>
                <mat-hint align="end">{{subtitulo.value.length}} / 1100</mat-hint>
            </mat-form-field>
        </form>
        <br>
        <div>
            <br>
            <div style="display: flex;">
                <span>Mostrar Direccion</span>
                <span style="flex: 1 1 auto;"></span>
                <mat-slide-toggle [(ngModel)]="toggleDireccion" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
            </div>
            <br>
            <div style="display: flex;">
                <span>Mostrar Telefono</span>
                <span style="flex: 1 1 auto;"></span>
                <mat-slide-toggle [(ngModel)]="toggleTelefono" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
            </div>
            <br>
            <div style="display: flex;">
                <span>Mostrar Correo</span>
                <span style="flex: 1 1 auto;"></span>
                <mat-slide-toggle [(ngModel)]="toggleCorreo" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
            </div>
            <br>
            <div style="display: flex;">
                <span>Mostrar Mision</span>
                <span style="flex: 1 1 auto;"></span>
                <mat-slide-toggle [(ngModel)]="toggleMision" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
            </div>

            <br>
            <div style="display: flex;">
                <span>Mostrar Vision</span>
                <span style="flex: 1 1 auto;"></span>
                <mat-slide-toggle [(ngModel)]="toggleVision" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
            </div>
        </div>
    </mat-card>
</div>