<div class="ctn">
        <h3 class="title">
            Crear Tipo Reclamo:
        </h3>
    
        <!--  <texto>!-->
        <mat-form-field class="example-full-width inputs">
                <input matInput placeholder="Nombre" >
        </mat-form-field><br>
        <mat-form-field class="example-full-width inputs">
                <input matInput placeholder="Descripción " >
            </mat-form-field>
    
        <!--  <boton>!-->
        <div class="btn-fin">
            <button mat-raised-button color="accent" class="c-white btn">Guardar</button>
            <button mat-raised-button color="accent" class="btn-white btn">Cancelar</button>
        </div>
    </div>