<div class="ctn">
    <h3 class="title">
        Nuevo tipo de Parámetro
    </h3>

    <!--  <texto>!-->

    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Nombre del tipo parametro" value="Cabello">
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <textarea matInput placeholder="Descrición del tipo Parámetro" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">Este tipo parametro representa</textarea>
    </mat-form-field>

    <!--  <boton>!-->
    <div class="btn-fin">
        <button mat-raised-button color="accent" class="c-white btn">Guardar</button>
        <button mat-raised-button color="accent" class="btn-white btn">Cancelar</button>
    </div>
</div>