<div class="ctn">
    <h3 class="title">
        Nuevo Parámetro:
    </h3>

    <!--  <texto>!-->
    <mat-form-field class="example-full-width inputs">
        <textarea matInput placeholder="Nombre del Parámetro" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">Longitud</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Descripción del Parámetro" value="Este representa la longitud del cabello">
    </mat-form-field>


    <!--  <boton>!-->
    <div class="btn-fin">
        <button mat-raised-button color="accent" class="c-white btn">Guardar</button>
        <button mat-raised-button color="accent" class="btn-white btn">Cancelar</button>
    </div>
</div>