<div class="ctn">
    <h3 class="title">
        Nuevo Valor Parámetro;
    </h3>

    <!--  <texto>!-->
    <mat-form-field class="example-full-width inputs">
        <textarea matInput placeholder="Nombre del Valor Parametro" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">Quebradiso</textarea>
    </mat-form-field><br>
    <mat-form-field class="valor inputs">
        <mat-select placeholder="Seleccione la unidad de Medida">
            <mat-option >
                Centimetro
            </mat-option>
            <mat-option >
                  milimetro
              </mat-option>
         </mat-select>
    </mat-form-field>


    <!--  <boton>!-->
    <div class="btn-fin">
        <button mat-raised-button color="accent" class="c-white btn">Guardar</button><pre> </pre>
        <button mat-raised-button color="accent" class="btn-white btn">Cancelar</button>
    </div>
</div>