<div class="titulo">
    <p> Registro de Categorías </p>
</div>
<mat-tab-group #grupoTabs>
    <!--(click)="verificarTab(grupoTabs)" (keydown)="verificarTab(grupoTabs)"-->
    <mat-tab label="Categorías básicas">
        <!--++++++-->
        <div style="padding: 30px 30px 30px 60px; " class="registro">
            <div class="row">
                <mat-form-field style="width: 500px;">
                    <mat-select placeholder="Selecciona categoría" value="0">
                        <mat-option *ngFor="let tipo of tipos" [value]="tipo" (click)="chargeList(tipo)">
                            {{ tipo }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <ng-container *ngIf="showList">
                <mat-card>
                    <div class="row">
                        <div class="garantia" style="margin-top: 25px;">
                            <dl>
                                <div *ngFor="let item of optionToLoadList">
                                    <div class="letra" style="margin-top:20px;">
                                        <div> {{item.nombre}}</div>
                                        <mat-divider></mat-divider>
                                    </div>
                                </div>
                            </dl>
                            <button style="margin-top: 20px;" mat-raised-button color="accent" (click)="openDialogCategoria()">Agregar</button>
                        </div>
                    </div>
                </mat-card>
            </ng-container>
        </div>
        <!--++++++-->
    </mat-tab>

    <mat-tab label="Categorías dependientes">
        <!--++++++-->
        <div style="padding: 30px 30px 30px 60px; " class="registro">
            <div class="row">
                <mat-form-field style="width: 500px;">
                    <mat-select placeholder="Selecciona categoría" value="0">
                        <mat-option *ngFor="let tipo of tiposDependientes" [value]="tipo" (click)="chargeListDependant(tipo)">
                            {{ tipo }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <ng-container *ngIf="showListDependant">
                <mat-card>
                    <div class="row">
                        <div class="garantia" style="margin-top: 25px;">
                            <dl>
                                <div *ngFor="let item of optionDependantToLoadList">
                                    <div class="letra" style="margin-top:20px;">
                                        <ng-container *ngFor="let categoria of categoriaServicio">
                                            <div *ngIf="categoria?.id == item?.id_categoria_servicio " style="color: #FD0087;"> {{categoria?.nombre}}</div>
                                        </ng-container>
                                        <ng-container *ngFor="let razon of razonIncidencia">
                                            <div *ngIf="razon?.id == item?.id_razon_incidencia " style="color: #FD0087;"> {{razon?.nombre}}</div>
                                        </ng-container>
                                        <div> {{item.nombre}}</div>
                                        <mat-divider></mat-divider>
                                    </div>
                                </div>
                            </dl>
                            <button style="margin-top: 20px;" mat-raised-button color="accent" (click)="openDialogCategoriaDependiente(tipo)">Agregar</button>
                        </div>
                    </div>
                </mat-card>
            </ng-container>
        </div>
        <!--++++++-->
    </mat-tab>
</mat-tab-group>