.registro {
    position: relative;
    top: 40px;
    margin-left: 60px;
    margin-right: 60px;
}

.titulo {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #344563;
    line-height: 30px;
    margin-left: 60px;
}

mat-card {
    width: 600px;
    margin-left: 100px;
}