.Titulo{
  height: 21px;	
  width: 600px;	
  color: #6C798F;	
  font-family: Roboto;	
  font-size: 19px;	
  font-weight: bold;	
  line-height: 34px;
  position: relative;
  left: 30px;
  
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


.title{
  font-weight: bold;
  font-size: 15px;
  color: #6C798F;	
}

.tabla{
 position: relative;
 right: 0px;
   
  height: 1000px;
  width: 350px;
  left: 470px;
  bottom:580px;
}
.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  position: relative;
  left: 100px;
  height: 0px;
  right: 100px;
  width: 580px;
}

.acordion{
  position: relative;
  left: 100px;
  right: 100px;
  height: 400px;
  width: 1000px;
  padding: 100px;
  
  
}
.example-headers-align .mat-expansion-panel-header-description {
 
  align-items: center;
  
  position: relative;
  top: 200px;
  left: 300px;
}
.des{
  text-align: left;
  line-height: 1.2
}
.configurar {	
  height: 26px;	width: 440px;	
  color: #6C798F;	
  font-family: Roboto;	
  font-size: 20px;	
  font-weight: 500;	
  line-height: 26px;
  margin-left: 50px;
  margin-top: 10px;
}
  
.letra {		
  color: #6C798F;	font-family: Roboto;	
  font-size: 14px;	font-weight: 500;	
  line-height: 19px;
}
.letra2 {		
  color: #6C798F;	font-family: Roboto;	
  font-size: 14px;		
  
}

.titleSelect{	height: 21px;	
  width: 54px;	
  color: #344563;	
  font-family: Roboto;	
  font-size: 16px;	
  font-weight: bold;
  line-height: 21px;

}
.btnu{

  position: relative;
  left:  800px;
}
.icono{

  position: relative;
  left: 400px;
  
}
.desplegable1{
position: relative;
right: 84px;
margin-top: 35px; 
height: 700px;
width: 600px
;

}
.registro {
font-size: 14px;
margin-left: 70px;
margin-right: 30px;
margin-top: 40px;
padding: 60px;
.detalle {
    margin-top: 25px;
    width: 500px;
    height: 100%;
    .inputs {
        margin: 5px 0px;
        width: 450px;
    }
    input:disabled {
        color: black;
    }
}
}
.anchodesplegable{
display: flex;

.desplegable2{
flex: 1;
margin-left: 50px;
color: black;
margin-top: 30px;
margin-right: 50px
}

}

.registro2 {
  font-size: 14px;
  margin-left: 70px;
  margin-right: 30px;
  margin-top: 40px;
  padding: 60px;

}