.efectoboton:active {
    top: 4px;
    /*bajamos el tamaño de la sombra para conseguir el efecto de profundidad*/
    -moz-box-shadow: 0px 1px 0px 0px;
    -webkit-box-shadow: 0px 1px 0px 0px;
    box-shadow: 0px 1px 0px 0px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
    margin: 15px;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.selectFilter {
    margin-left: 30px;
    margin-top: 15px;
    .letra {
        font-size: 14px;
        color: #6C798F;
    }
    .valor {
        margin-right: 15px;
    }
}