<div class="selectFilter">
    <mat-form-field class="fecha valor">
        <input matInput [matDatepicker]="picker" placeholder="Fecha de inicio de la búsqueda" [(ngModel)]="fechaini" (ngModelChange)="crearUrl()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="fecha valor">
        <input matInput [matDatepicker]="pickerEnd" placeholder="Fecha de fin de la búsqueda" [(ngModel)]="fechafin" (ngModelChange)="crearUrl()">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="valor inputs">
        <mat-select name="tipo" placeholder="Seleccione comentario" [(ngModel)]="valortipo" (change)="crearUrl()">
            <mat-option name="opc2" *ngFor="let item of tipo" [value]="item.id">
                {{ item.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="valor inputs">
        <mat-select name="tipo" placeholder="Seleccione el tipo de respuesta " [(ngModel)]="valortipodos" (change)="crearUrl()">
            <mat-option name="opc" *ngFor="let item of tipoR" [value]="item.id">
                {{ item.nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="boton">
        <button mat-raised-button (click)="getPDF()"> Importar PDF</button>
    </div>

</div>


<div class="tabla" id="content" #content>
    <h4>Reporte de atención al cliente</h4>
    <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Telefono column -->
        <ng-container matColumnDef="cliente">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Cliente</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let elemento"> {{elemento.nombre}} {{elemento.apellido}}</mat-cell>
        </ng-container>
        <!-- Telefono column -->
        <ng-container matColumnDef="fecha">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Fecha</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let elemento"> {{elemento.fecha_creacion}} </mat-cell>
        </ng-container>
        <!-- Cliente Column -->
        <ng-container matColumnDef="tipo">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Tipo de Comentario</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let elemento"> {{elemento.tipo_comentario}} </mat-cell>
        </ng-container>

        <!-- Telefono column -->
        <ng-container matColumnDef="descripcion">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Descripción del comentario</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let elemento"> {{elemento.descripcion}} </mat-cell>
        </ng-container>

        <!-- Correo Column -->
        <ng-container matColumnDef="tipoR">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Tipo de respuesta</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let elemento"> {{elemento.respuesta_comentario.tipo_respuesta_comentario}}</mat-cell>
        </ng-container>

        <!-- Direccion Column -->
        <ng-container matColumnDef="resp">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Respuesta</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let  elemento"> {{elemento.respuesta_comentario.descripcion}} </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>