<div class="ctn">
    <!--<mat-card class="cancelar">!-->
    <h4>Registrar incidencia</h4>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Cliente" [(value)]="nombreCliente" disabled>
    </mat-form-field>

    <mat-form-field class="valor inputs">
        <mat-select placeholder="Seleccione el motivo de incidencia" [(ngModel)]="razonSelec" (change)=" getTipoIncidencia()">
            <mat-option *ngFor="let filtro of razon" [value]="filtro.id">
                {{ filtro.nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="select">
        <mat-form-field class="valor inputs">
            <mat-select placeholder="Seleccione el tipo de incidencia" [(ngModel)]="datosEnviar.id_tipo_incidencia">
                <mat-option *ngFor="let filtro of incidenciaAux" [value]="filtro.id">
                    {{ filtro.nombre }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-form-field class="example-full-width inputs">
        <textarea matInput [(ngModel)]="datosEnviar.descripcion" placeholder="Descripción de la cancelación de la cita" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="enviar()" class="btn">Cancelar cita</button>
    <!-- </mat-card>!-->
</div>