<div class="ctn">
    <h3 class="title">
        Reportar incidencia en la cita
    </h3>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Orden de servicio" value="#64403-4792" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Cliente" value="Illyrio Mopatis" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Fecha" value="02 Mar 2018" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Hora de inicio" value="03:30 PM" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Hora de finalización" value="04:30" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Empleados a cargo" value="Jon Connington" disabled>
    </mat-form-field>
    <div class="serviciosP">
        <h5>Servicios de peluquería afectados</h5>
        <section class="check">
            <mat-checkbox class="">Baños de color</mat-checkbox><br>
            <mat-checkbox class="">Micropigmentación</mat-checkbox><br>
            <mat-checkbox class="">Planchado de cabello</mat-checkbox><br>
            <mat-checkbox class="">Peinado con tenacilla</mat-checkbox><br>
        </section>
    </div>
    <div class="serviciosM">
        <h5>Servicios de Maquillaje afectados</h5>
        <section class="check">
            <mat-checkbox class="">Maquillaje de noche</mat-checkbox><br>
        </section>
    </div>

    <mat-form-field class="example-full-width inputs">
        <textarea matInput placeholder="Dar respuesta al cliente" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio exercitationem officiis sequi</textarea>
    </mat-form-field>
    <div class="boton">
        <button mat-raised-button color="accent" class="btn-gray btn">Reportar incidencia</button>
    </div>


</div>