<app-background-image [imageUrl]="imageUrl" [iHeight]="iHeight">
    <div class="ctn">
        <mat-card class="card">
            <img mat-card-image [src]="logo" class="im">
            <h3 class="title">
                Iniciar sesión
            </h3>

            <mat-form-field class="full-width inputs">
                <input id="user" type="email" name="user" class="form-control" required [(ngModel)]="creden.correo" matInput placeholder="Usuario" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="full-width inputs">
                <input id="password" name="password" class="form-control" required [(ngModel)]="creden.contrasenia" matInput placeholder="Password" type="password" autocomplete="off">
            </mat-form-field>
            <span class="error" *ngIf="login">*Credenciales inválidas, por favor verifíquelas</span>
            <br>
            <button mat-raised-button color="accent" (click)="loginUser()" class="c-white btn">Iniciar sesión</button>
        </mat-card>
    </div>
</app-background-image>